@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
.ff_inter {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Konexy Personal Use";
  src: url("./assets/fonts/KonexyPersonalUse.otf");
}
.ff_konexy {
  font-family: "Konexy Personal Use";
}
.ff_Gilroy {
  font-family: "Gilroy";
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold_-_Copy.ttf");
}
* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 24px;
  --fs-xl: 35px;
  --fs-xxl: 36px;
  --fs-3xl: 40px;
  --fs-4xl: 48px;
  --fs-5xl: 72px;
  --clr-darkwhite: #b2b2b2;
  --clr-darkwhite50: #bebebe;
  --clr-gray: #4d4d4d;
  --clr-gray25: #868687;
  --clr-gray50: #4c4c4c;
  --clr-gray75: #6f6f6f;
  --clr-primary: #6022ea;
  --clr-lightblack: #313131;
}
.fw-medium {
  font-weight: 500;
}
/* color */
.clr_darkwhite {
  color: var(--clr-darkwhite);
}
.clr_darkwhite50 {
  color: var(--clr-darkwhite50);
}
.clr_gray {
  color: var(--clr-gray);
}
.clr_gray25 {
  color: var(--clr-gray25);
}
.clr_gray50 {
  color: var(--clr-gray50);
}
.clr_gray75 {
  color: var(--clr-gray75);
}
.clr_primary {
  color: var(--clr-primary);
}
.clr_lightblack {
  color: var(--clr-lightblack);
}
/* font-size */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
/* btn */
.heroBtn {
  background-color: #6022ea;
  padding: 12px 40px;
  border-radius: 80px;
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2);
  transition: 0.6s linear;
}
.Navbtn {
  background-color: #6022ea;
  padding: 10px 24px;
  transition: 0.6s linear;
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2);
  border-radius: 80px;
}
/* hover */
.Navbtn:hover {
  background-color: white;
  color: #6022ea !important;
}
.heroBtn:hover {
  background-color: white;
  color: #6022ea !important;
}
.colCards:hover {
  box-shadow: 0px 20px 60.5714px #e5e9f6;
  border: 1px solid transparent;
}
.nav_links:hover:after {
  width: 100%;
  left: 0;
}
/* placeholder */
::placeholder {
  color: #bebebf;
  opacity: 1; 
}

/* bg-color */
.bg_blur {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
.bg_dark_50 {
  background: #0d0d0d;
}
.input_background {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}
.bg_white_50 {
  background-color: #f6f6f6;
}
/* cards */
.colCards {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: 0.5s linear;
}

/* other */
.outline_none {
  outline: none;
}
.menuitems {
  height: 2px;
  width: 20px;
  background-color: white;
}
.z_4 {
  z-index: 4;
}
.z_5 {
  z-index: 5;
}
.z_7 {
  z-index: 7;
}
.vh_100 {
  height: 100vh;
}
.z_5 {
  z-index: 5;
}
.Navline {
  height: 51px;
  background-color: #2c282f;
  width: 1px;
}

.b_radius_26 {
  border-radius: 26px;
}
.bg_blur_pink {
  filter: blur(90px) !important;
  background-color: #fa00ff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.bg_blur_blue {
  filter: blur(90px) !important;
  background: #6022ea;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.zn_1 {
  z-index: -1 !important;
}
.zn_2 {
  z-index: -2 !important;
}
/* positon */
.blur_position {
  top: -8%;
  right: -32%;
}
.blue_position {
  bottom: -5%;
  left: -8%;
}
.blur_absolute {
  bottom: 12%;
  right: -4%;
}
.blue_absolute {
  top: 0;
  left: -8%;
}
/* after */
.line_content::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 7%;
  width: 5px;
  height: 87%;
  background-color: #6022ea;
}
.nav_links:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 3px;
  transition: 0.5s linear;
  background-color: #6122ea;
  bottom: -5px;
}
/* media screen */
@media (max-width: 1400px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 21px;
    --fs-xl: 35px;
    --fs-xxl: 36px;
    --fs-3xl: 40px;
    --fs-4xl: 48px;
    --fs-5xl: 60px;
    --clr-darkwhite: #b2b2b2;
    --clr-darkwhite50: #bebebe;
    --clr-gray: #4d4d4d;
    --clr-gray25: #868687;
    --clr-gray50: #4c4c4c;
    --clr-gray75: #6f6f6f;
    --clr-primary: #6022ea;
    --clr-lightblack: #313131;
  }
  .w_xxl_100 {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .openNav {
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    height: 100vh;
    z-index: 5;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    transition: 0.5s linear;
  }
  .closeNav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    height: 100vh;
    z-index: 5;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    transition: 0.5s linear;
  }

  .h_xl_100 {
    height: 100%;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 21px;
    --fs-xl: 23px;
    --fs-xxl: 30px;
    --fs-3xl: 36px;
    --fs-4xl: 43px;
    --fs-5xl: 55px;
    --clr-darkwhite: #b2b2b2;
    --clr-darkwhite50: #bebebe;
    --clr-gray: #4d4d4d;
    --clr-gray25: #868687;
    --clr-gray50: #4c4c4c;
    --clr-gray75: #6f6f6f;
    --clr-primary: #6022ea;
    --clr-lightblack: #313131;
  }
}

@media (max-width: 992px) {
  :root {
    ---fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 20px;
    --fs-xl: 27px;
    --fs-xxl: 29px;
    --fs-3xl: 33px;
    --fs-4xl: 35px;
    --fs-5xl: 47px;
    --clr-darkwhite: #b2b2b2;
    --clr-darkwhite50: #bebebe;
    --clr-gray: #4d4d4d;
    --clr-gray25: #868687;
    --clr-gray50: #4c4c4c;
    --clr-gray75: #6f6f6f;
    --clr-primary: #6022ea;
    --clr-lightblack: #313131;
  }
  .w_lg_100 {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 19px;
    --fs-xl: 26px;
    --fs-xxl: 28px;
    --fs-3xl: 32px;
    --fs-4xl: 35px;
    --fs-5xl: 46px;
    --clr-darkwhite: #b2b2b2;
    --clr-darkwhite50: #bebebe;
    --clr-gray: #4d4d4d;
    --clr-gray25: #868687;
    --clr-gray50: #4c4c4c;
    --clr-gray75: #6f6f6f;
    --clr-primary: #6022ea;
    --clr-lightblack: #313131;
  }
  .w_md_90 {
    width: 90px;
  }
}

@media (max-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 18px;
    --fs-xl: 25px;
    --fs-xxl: 26px;
    --fs-3xl: 28px;
    --fs-4xl: 31px;
    --fs-5xl: 33px;
    --clr-darkwhite: #b2b2b2;
    --clr-darkwhite50: #bebebe;
    --clr-gray: #4d4d4d;
    --clr-gray25: #868687;
    --clr-gray50: #4c4c4c;
    --clr-gray75: #6f6f6f;
    --clr-primary: #6022ea;
    --clr-lightblack: #313131;
  }
}
